body {
    margin: 0;
}
.wrapper {
    display: grid;
    padding: 0 5px 0 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 7px 7px;
    background: #1C1C1C;
    grid-template-areas:
    "display display display display"
    "ac toggleNegative percent split"
    "mc mr mMinus mPlus"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    height: 100vh;
}